body {
    background-color: #BF99B2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* HEADER */
header {
    background-color: #FFE1E1;
    overflow: hidden;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header div{
    display: flex;
    gap: 10px;
}
header img {
    width: 40px;
    height: 40px;
}
header div a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #401A36; /* Color de fondo */
    border-radius: 30px; /* Define la curvatura del botón */
    color: #fafafa; /* Color del texto */
    padding: 8px 16px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse por encima */
    transition: all 0.5s; /* Transición suave al cambiar el color */

}
header div a:hover {
    background-color: #BF99B2;
    color: black;
    box-shadow: 3px 3px 0px #250e1f;
}


/* separador */
.content {
    flex: 1;
    padding: 20px;
}
/* GALLERIA VIEJA */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image:hover {
    transform: scale(1.05);
}
/* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: #0D0000;
    text-align: center;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #736569;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #401A36;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(212, 0, 255);
}
.pie-pagina .grupo-2{
    background-color: #401A36;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/* GALLERIA */
.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
